<!-- Carousel -->
  <section class="carousel">
    <div class="reel">

      <article>
        <a href="{{ 'Fieldwork' | absolute_url }}" class="image featured"><img src="{{ 'assets/images/DJI_0235.jpeg' | relative_url }}" alt="" /></a>
        <header>
          <h3><a href="{{ 'Fieldwork' | absolute_url }}">South Blob Nunatak, Juneau Icefield</a></h3>
        </header>
        <p>GNSS surveying to determine rates of isostatic rebound</p>
      </article>

      <article>
        <a href="{{ 'Fieldwork' | absolute_url }}" class="image featured"><img src="{{ 'assets/images/IMG_0131.jpeg' | relative_url }}" alt="" /></a>
        <header>
          <h3><a href="{{ 'Fieldwork' | absolute_url }}">Fossil Corral Reefs, Hawaii</a></h3>
        </header>
        <p>Investigating Last Interglacial sea level </p>
      </article>

      <article>
        <a href="{{ 'Fieldwork' | absolute_url }}" class="image featured"><img src="{{ 'assets/images/DJI_0989.jpeg' | relative_url }}" alt="" /></a>
        <header>
          <h3><a href="{{ 'Fieldwork' | absolute_url }}">Fjords in Skjervøy, Norway </a></h3>
        </header>
        <p>Coring isolation basins to determine past sea level</p>
      </article>

      <!-- <article>
        <a href="{{ 'Fieldwork' | absolute_url }}" class="image featured"><img src="{{ 'assets/images/IMG_9625.jpeg' | relative_url }}" alt="" /></a>
        <header>
          <h3><a href="{{ 'Fieldwork' | absolute_url }}">Juneau Icefield</a></h3>
        </header>
        <p>The Juneau Icefield Research Program.</p>
      </article> -->

      <!-- <article>
        <a href="{{ 'Fieldwork' | absolute_url }}" class="image featured"><img src="{{ 'assets/images/IMG_8717.jpeg' | relative_url }}" alt="" /></a>
        <header>
          <h3><a href="{{ 'Fieldwork' | absolute_url }}">In the field</a></h3>
        </header>
        <p>Fieldwork in West Antarctica and beyond.</p>
      </article> -->

      <article>
        <a href="{{ 'Fieldwork' | absolute_url }}" class="image featured"><img src="{{ 'assets/images/DJI_0127.jpeg' | relative_url }}" alt="" /></a>
        <header>
          <h3><a href="{{ 'Fieldwork' | absolute_url }}">Supra glacial lake, Juneau Icefield</a></h3>
        </header>
        <p>Drone imagery from a day skiing with students across the ice</p>
      </article>

      <!-- <article>
        <a href="{{ 'Fieldwork' | absolute_url }}" class="image featured"><img src="{{ 'assets/images/IMG_1900.jpeg' | relative_url }}" alt="" /></a>
        <header>
          <h3><a href="{{ 'Fieldwork' | absolute_url }}">Coastal fieldwork</a></h3>
        </header>
        <p>Collecting sea-level indicators in the field.</p>
      </article>

      <article>
        <a href="{{ 'Fieldwork' | absolute_url }}" class="image featured"><img src="{{ 'assets/images/IMG_9834.jpeg' | relative_url }}" alt="" /></a>
        <header>
          <h3><a href="{{ 'Fieldwork' | absolute_url }}">Camp life</a></h3>
        </header>
        <p>Life and work at remote field camps.</p>
      </article> -->

    </div>
  </section>
