<!-- Header -->
  <div id="header" style="background-image: url('{{ site.header_image | relative_url }}');">

    <!-- Inner -->
      <div class="inner">
        <header>
          <h1><a href="{{ '' | absolute_url }}" id="logo">{{ site.title }}</a></h1>
          <hr />
          <p>{{ site.subtitle }}</p>
        </header>
      </div>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="{{ '' | absolute_url }}">Home</a></li>
          <li><a href="{{ 'aboutme' | absolute_url }}">About Me</a></li>
          <li><a href="{{ 'Research' | absolute_url }}">Research</a></li>
          <li><a href="{{ 'Publications' | absolute_url }}">Publications</a></li>
          <li><a href="{{ 'Fieldwork' | absolute_url }}">Fieldwork</a></li>
          <li><a href="{{ '/Media' | absolute_url }}">Media</a></li>
          <li><a href="{{ 'teaching' | absolute_url }}">Teaching</a></li>
          <li><a href="{{ 'deglaciation' | absolute_url }}">Deglaciation Explorer</a></li>
        </ul>
      </nav>

  </div>
